@import
'https://fonts:googleapis.com/css?family=Cormorant+Infant:700,700i|Lato:400,700';

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Cormorant Infant', serif;
    font-weight: 700;
    font-size: 75px;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin-top: 0;
    font-weight: 400;
}

p {
    line-height: 1.75;
}

a {
    color: inherit;
}

.container {
    width: 70%;
    margin: 0 auto;
}

section {
    padding: 120px 0;
}

.start {
    background-color: rgb(41,62,70);
    color: white;
}

.middle {
    background-color: rgb(154,199,195);
}

.end {
    background-image: url(../img/mateusz-gzik-ayb-piJZwkE-unsplash.jpg);
    color: white;
}

.btn-normal {
    display: inline-block;
    background: rgb(36, 149, 146);
    text-decoration: none;
    padding: 1em 2em;
}

.btn-normal:hover {
    background: rgb(36, 128, 125);
}